<div id="friendship_<%= friendship.id %>">
	<%= image_tag(friendship.friend.avatar, height: '50', width: '50', class: 'img-circle') %>
	<p><%= friendship.friend.name %> - <%= link_to "Remove", friendship, method: :delete  %></p>	
</div>
