<div id="inverse_friendship_<%= inverse_friendship.id %>">
	<%= image_tag(inverse_friendship.user.avatar, height: '50', width: '50', class: 'img-circle') %>
	<p><%= inverse_friendship.user.name %> - <%= link_to "Remove", friendship_path(:id => inverse_friendship, :test => "inverse"), method: :delete, remote: true  %></p>
</div>
